<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="placar">
    <div>{{n}}</div>
    <span v-if="n > 5" >Parabéns, você passou de 5 pontos!</span>
  </div>

  <div id="lista">
    <ul>
      <li v-for="info in nomes" >
        <span>Sr. {{info.nome}}</span>
        <span v-text="info.sobrenome"></span>
        <br />
        <span>idade: {{info.idade}}</span>
        <br />
        <br />
      </li>
    </ul>
  </div>

  <script src="script.js"></script>
</body>
</html>