<!DOCTYPE html>
<html lang='pt'>
 <head>
   <meta charset='UTF-8'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>bilateral association</title>
   <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
 </head>
 <body>
    <div id="app">
      <input type="number" v-model="n1" />
      <input type="number" v-model="n2" />
      
      <span>{{parseInt(n1) + parseInt(n2)}}</span> 
    </div>

    <script src="script.js"></script>
 </body>
</html>